h1, .h1{
    margin-bottom: 0;
}

.texte-rouge{
    color: red;
}

.bordure-rouge{
    border: 1px solid red;
}

.triangle::before{
    width: 0;
    height: 0;
    border-left: 10px solid darkred;
    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    display: inline-block;
    content: '';
}

.div-invisible{
    display: none;
}

ul#toDoList{
    padding: 0;
}

ul#toDoList li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 2px;
    border-radius: 2px;
}

ul#toDoList li:hover{
    background-color: var(--bs-blue);
}

div#container p{
    border: 1px dashed #666;
}

.paragraphe-vert{
    color: #aacc00;
}

.paragraphe-gras{
    font-weight: bold;
}

#carre{
    width: 100px;
    height: 100px;
    background-color: orangered;
    margin: 20px auto;
    transition: transform 1s;
}

.left{
    transform: translateX( calc( -1 * ( 100vw/2 - 100px ) ) );
}

.right{
    transform: translateX( calc(  100vw/2 - 100px )  );
}

#coord td[data-column][data-line], #selector td[data-column][data-line]{
    text-align: center;
}

.article{
    display: none;
}

.article.active{
    display: block;
}